<header class="mat-elevation-z6 mat-typography">
  <!-- <div class="container-fluid">
    <div class="row justify-content-around">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="col-md-auto">
              <span>Testing <strong>One</strong></span>
            </div>
            <div class="col-md text-center">
              <button mat-button
                routerLink="home">
                <span>Nav Item 1</span>
              </button>
              <button mat-button
                routerLink="about">
                <span>Nav Item 2</span>
              </button>
              <button mat-button
                routerLink="contact">
                <span>Nav Item 3</span>
              </button>
              <button mat-button>
                <span>Nav Item 4</span>
              </button>
            </div>
            <div class="col-md-auto">
                <a mat-icon-button
                  matTooltip="Check out my LinkedIn" 
                  matTooltipPosition="left" 
                  aria-label="Visit my LinkedIn profile page">
                  <i class="fab fa-facebook-f"></i>
              </a>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
  </div> -->
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-auto">
        <h2 class="mb-0"><strong>Kon-Kon</strong> Chao</h2>
      </div>
      <div class="col-md text-center">
        <button mat-button routerLink="home">
          <span>Home</span>
        </button>
        <button mat-button routerLink="about">
          <span>About Me</span>
        </button>
        <button mat-button>
          <span>Portfolio</span>
        </button>
        <button mat-button routerLink="contact">
          <span>Contact</span>
        </button>
      </div>
      <div class="col-md-auto">
        <a mat-icon-button matTooltip="Check out my LinkedIn" matTooltipPosition="left" aria-label="Visit my LinkedIn profile page">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</header>