<header class="mat-elevation-z6 mat-typography">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-auto">
        <h2 class="mb-0"><strong>Kon-Kon</strong> Chao</h2>
      </div>
      <div class="col-md text-center">
        <button mat-button routerLink="home">
          <span>Home</span>
        </button>
        <button mat-button routerLink="about">
          <span>About Me</span>
        </button>
        <button mat-button routerLink="portfolio">
          <span>Portfolio</span>
        </button>
        <button mat-button routerLink="contact">
          <span>Contact</span>
        </button>
      </div>
      <div class="col-md-auto">
        <a mat-icon-button matTooltip="Check out my LinkedIn" matTooltipPosition="left" aria-label="Visit my LinkedIn profile page">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</header>