<div id="blue-background-bar" [@blue-box]></div>
<div id="about-me">
  <div class="container">
    <mat-card id="bio-card" [@bio-card]>
      <div class="row align-items-center">
        <div class="col-md-auto">
          <div id="bio-image"></div>
        </div>
        <div class="col-md">
          <h1>Who Am I?</h1>
          <h2>
            Made in Taiwan and raised in The&nbsp;Big&nbsp;Easy.
          </h2>
          <p>
            My impeccable attention to detail and unquenchable thirst for challenges has driven my success as a Front End Web Applications Developer.
            I'm on a neverending quest of working with teams to bring awesome UI/UX experiences to users worldwide.
          </p>
        </div>
      </div>
    </mat-card>
  </div>
  <div id="skill-highlight">
    <div class="container-fluid">
      <div class="row justify-content-center" [@skillpod-list]>
        <div class="col-auto" *ngFor="let skillPod of skillPods">
          <mat-card class="round" [@skillpod]>
            <div class="row align-items-center h-100">
              <div class="col">
                <div class="icon">
                  <i class="{{ skillPod.iconPath }}"></i>
                </div>
                <div class="title">
                  <span>{{ skillPod.name }}</span>
                </div>
                <div class="description">
                  <span>{{ skillPod.description }}</span>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div id="about-this-site">
    <div class="container">
      <mat-card [@skillset-card]>
        <h1>Facts about this site.</h1>
        <p>This site is developed from scratch using HTML5, CSS3, SASS, JavaScript ES6, Bootstrap 4 Grid, Angular 6, Angular Material and TypeScript. Everything is 100% linted, tracked with Git and hosted using GitHub Pages.</p>
      </mat-card>
    </div>
  </div>
  <div id="skillsets">
    <div class="container">
      <mat-card [@skillset-card]>
        <h1>What Do I Know?</h1>
        <p>Languages and frameworks I roll with:</p>
        <mat-chip-list>
          <mat-chip selected *ngFor="let language of languageFrameworks">{{ language }}</mat-chip>
        </mat-chip-list>
        <div class="chip-list-divider"></div>
        <p>Tools and tech that help me create outstanding products:</p>
        <mat-chip-list>
          <mat-chip selected *ngFor="let tool of tools">{{ tool }}</mat-chip>
        </mat-chip-list>
        <div class="chip-list-divider"></div>
        <p>CMSs I've worked with:</p>
        <mat-chip-list>
          <mat-chip selected *ngFor="let cmsItem of cms">{{ cmsItem }}</mat-chip>
        </mat-chip-list>
        <div class="chip-list-divider"></div>
        <p>General skillsets my peers have commended me for:</p>
        <mat-chip-list>
          <mat-chip selected *ngFor="let skill of skillsets">{{ skill }}</mat-chip>
        </mat-chip-list>
      </mat-card>
    </div>
  </div>
</div>
