<div id="about-me">
  <div class="container">
    <mat-card id="bio-card">
      <div class="row align-items-center">
        <div class="col-md-auto">
          <div id="bio-image"></div>
        </div>
        <div class="col-md">
          <div>
            <h1>Who Am I?</h1>
          </div>
          <div>
            <p>
              Made in Taiwan and raised in The Big Easy.
            </p>
            <p>
              My impeccable attention to detail and unquenchable thirst for challenges has driven my success as a Front End Developer.
              I'm on a neverending quest of working with teams to bring awesome UI/UX experiences to users worldwide.
            </p>
          </div>
          <div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div id="skill-highlight">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-auto">
          <mat-card class="round">
            <div class="row align-items-center h-100">
              <div class="col">
                <div class="icon">
                  <i class="fas fa-desktop"></i>
                </div>
                <div class="title">
                  <span>Responsive Rights</span>
                </div>
                <div class="description">
                  <span>Equal opportunity developer for devices of all shapes and sizes.</span>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-auto">
          <mat-card class="round">
            <div class="row align-items-center h-100">
              <div class="col">
                <div class="icon">
                  <i class="far fa-lightbulb"></i>
                </div>
                <div class="title">
                  <span>Objectively Pleasant UI/UX</span>
                </div>
                <div class="description">
                  <span>Experiences and decisions backed by facts, not emotion.</span>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-auto">
          <mat-card class="round">
            <div class="row align-items-center h-100">
              <div class="col">
                <div class="icon">
                  <i class="fas fa-eye"></i>
                </div>
                <div class="title">
                  <span>Pixel Perfect</span>
                </div>
                <div class="description">
                  <span>Bringing static mockups to life with unrivaled attention to detail.</span>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-auto">
          <mat-card class="round">
            <div class="row align-items-center h-100">
              <div class="col">
                <div class="icon">
                  <i class="fas fa-flag-checkered"></i>
                </div>
                <div class="title">
                  <span>Cutting Edge</span>
                </div>
                <div class="description">
                  <span>The latest and bleeding edge tech for every new project.</span>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <!-- <div class="col-auto">
          <mat-card class="round">
            <div class="row align-items-center h-100">
              <div class="col">
                <div class="icon">
                  <i class="fas fa-stopwatch"></i>
                </div>
                <div class="title">
                  <span>Efficiency | Teamwork</span>
                </div>
                <div class="description">
                  <span>Effective time management and meshing easily with teams.</span>
                </div>
              </div>
            </div>
          </mat-card>
        </div> -->
      </div>
    </div>
  </div>
</div>