mat-card {
    padding: 0;
}
mat-card-title {
    padding: 30px 30px 24px;
    font-size: 2rem;
}
mat-card-content {
    padding: 0 24px 24px;
}
#contact {
    height: calc(100vh - 220px);
    padding: 2.25rem 0;
}
@media (max-width: 575.98px) {
    mat-card-title {
        font-size: 1.4rem;
        padding: 24px 24px 16px;
    }
    #contact {
        height: auto;
    }
}