@import '~@angular/material/theming';
@import '../../stylesheets/variables';

mat-card {
    padding: 0;
}
mat-card:hover {
    @include mat-elevation(8);
}
mat-card-title {
    padding: 24px 24px 0;
    margin-bottom: 0;
    h1 {
        margin-bottom: 0;
    }
}
mat-card-content {
    padding: 24px 24px;
}
#blue-background {
  background-color: $primary;
  position: absolute;
  height: calc(100vh - 128px);
  width: 100%;
  top: -36px;
  clip-path: polygon(19% 28%, 81% 28%, 81% 82%, 19% 82%);
}
#card-background {
    background-color: $primary;
}
#contact {
    height: calc(100vh - 220px);
    padding: 2.25rem 0;
}
@media (max-width: 575.98px) {
    mat-card-title {
        font-size: 1.4rem;
        padding: 24px 24px 16px;
    }
    #contact {
        height: auto;
    }
}
#contact-blue-background {
    position: absolute;
    top: 56px;
    width: 100%;
    height: calc(100vh - 56px - 164px);
}
