<mat-dialog-content [ngClass]="{ 'slfpa': data.name === 'Southeast Louisiana Flood Protection Authority - East' }">
  <div class="container-fluid header" [style.background]="data.headerBackgroundColor">
    <div class="row align-items-md-center">
      <div class="col col-md-auto pr-0">
        <h2 class="mb-0" mat-dialog-title>{{ data.name }}</h2>
      </div>
      <div class="col col-md-auto pl-3 pl-md-0 d-none d-md-flex" *ngIf="data.url">
        <a matTooltip="Visit the site." class="visit-site-link" [href]="data.url" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="col-auto col-md text-right">
        <button class="close-btn" mat-flat-button mat-dialog-close>
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <a *ngIf="data.url" [href]="data.url" target="_blank" class="visit-site-mobile d-inline d-md-none">Visit&nbsp;Site</a>
  </div>
  <div class="container-fluid body-content">
    <div class="row">
      <div class="col-lg-9">
        <div class="problem">
          <h3>Project Background</h3>
          <p>{{ data.problem }}</p>
          <p>{{ data.solution }}</p>
        </div>
        <div class="divider mb-3"></div>
        <div class="contribution">
          <h3>What Was My Role?</h3>
          <p>{{ data.contribution }}</p>
        </div>
        <div class="d-block d-lg-none divider mb-3"></div>
      </div>
      <div class="col-lg-3">
        <div class="technologies">
          <h3>Technologies I Utilized</h3>
          <mat-chip-list>
            <mat-chip *ngFor="let item of data.technologies" [style.background]="data.headerBackgroundColor">{{ item }}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </div>
  <div class="project-screenshots">
    <mat-card *ngFor="let screenshot of data.screenshots">
      <img class="img-fluid" src="../../assets/images/projects/screenshots/{{ screenshot.imagePath }}">
      <div class="img-caption" [style.background]="data.headerBackgroundColor">
        <span>{{ screenshot.caption }}</span>
      </div>
    </mat-card>
  </div>
</mat-dialog-content>
