<div id="portfolio">
  <div class="container-fluid">
    <div class="row justify-content-center" [@package-list]>
      <div class="col-6 col-md-4 col-lg-auto">
        <div class="project-pancake mat-elevation-z3" [@pancake]="state" (click)="onPancakeClick($event)">
          <div class="project-background" [@pancake-background]="state" style="background-image: url(../assets/images/sushi-corg.jpg)"></div>
          <div class="row align-items-center justify-content-center h-100">
            <div class="col-auto">
              <span class="title">Title Here</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-auto">
        <div class="project-pancake mat-elevation-z3" [@pancake]>
          <div class="project-background" style="background-image: url(../assets/images/sushi-corg.jpg)"></div>
          <div class="row align-items-center justify-content-center h-100">
            <div class="col-auto">
              <span class="title">Title Here</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-auto">
        <div class="project-pancake mat-elevation-z3" [@pancake]>
          <div class="project-background" style="background-image: url(../assets/images/sushi-corg.jpg)"></div>
          <div class="row align-items-center justify-content-center h-100">
            <div class="col-auto">
              <span class="title">Title Here</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>