<div id="portfolio">
  <div id="project-list" class="container-fluid">
    <div class="row" [@card-list]>
      <div class="col-md-6 col-lg-4" *ngFor="let project of projects; let i = index;">
        <mat-card [ngStyle]="{'background': project.cardBackgroundColor}" [@card]="project.state" (click)="onClickProject(i)">
          <div class="row align-items-center h-100">
            <div class="col">
              <div class="project-logo text-center">
                <img class="img-fluid" src="../assets/images/projects/logos/{{ project.logoPath }}" />
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
