@import '~@angular/material/theming';

#portfolio {
  min-height: calc(100vh - 220px);
  display: flex;
  align-items: center;
}

mat-card {
  height: calc(50vh - 220px);
  min-height: 17rem;
  color: white;
  padding: 5vw;
  margin: 1rem 0;
  cursor: pointer;
}
mat-card:hover {
  transition: 0.4s;
  @include mat-elevation(8);
}