<div id="portfolio">
  <div class="container-fluid">
    <div class="row justify-content-center" [@package-list]>
      <div class="col-6 col-md-4 col-lg-auto" *ngFor="let project of projects; let i = index;">
        <div class="project-pancake mat-elevation-z3" [@pancake]="project.state" (click)="onPancakeClick(i)">
          <div class="project-background" [@pancake-background]="project.state" [ngStyle]="{'background-image': 'url(../assets/images/projects/' + project.imagePath + ')'}"></div>
          <div class="row align-items-center justify-content-center h-100">
            <div class="col-auto">
              <span class="title">Title Here</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>