// Global Styles Here!
body {
    font-size: 1rem;
}
section#body-content {
    padding-top: 8rem;
    padding-bottom: 5rem;
    min-height: calc(100vh - 164px);
    background-color: #fafafa;
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
}
a:hover {
    color: unset;
    text-decoration: none;
}
a:focus, button:focus {
    outline: none;
}
.material-icons {
    color: $m-gray;
}
.red {
    color: $m-red;
}
.green {
    color: $m-green;
}
.blue {
    color: $m-blue;
}
.purple {
    color: $m-purple;
}
.orange {
    color: $m-orange;
}
.indigo {
    color: $primary;
}
.yellow {
    color: $m-yellow;
}
.mat-form-field {
    font-size: 1rem;
}