// Global Styles Here!
section#body-content {
    min-height: calc(100vh - 64px);
}
a:hover {
    color: unset;
    text-decoration: none;
}
a:focus, button:focus {
    outline: none;
}
.material-icons {
    color: $m-gray;
}
.red {
    color: $m-red;
}
.green {
    color: $m-green;
}
.blue {
    color: $m-blue;
}
.purple {
    color: $m-purple;
}
.orange {
    color: $m-orange;
}