@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

@import '~@fortawesome/fontawesome-free/css/brands.min.css';
@import '~@fortawesome/fontawesome-free/css/solid.min.css';
@import '~@fortawesome/fontawesome-free/css/regular.min.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';

@import '../stylesheets/variables';
@import '../stylesheets/global';
@import '../stylesheets/shame';

mat-sidenav {
    width: 300px;
}
mat-form-field {
    width: 100%;
}
.mat-button, .mat-raised-button {
    font-size: 1rem;
}
.mat-step-header .mat-step-icon-not-touched {
    background-color: $primary;
}
header {
    position: absolute;
    width: 100%;
    background-color: $primary;
    color: white !important;
    padding: 0.5rem 0;
    z-index: 100;
    h2 {
        letter-spacing: 0.05rem;
    }

    #hamburger-icon {
        font-size: 1.2rem;
    }
}
header.green {
    background-color: $m-green;
}
header.indigo {
    background-color: $m-indigo;
}
header.red {
    background-color: $m-red;
}
header.yellow {
    background-color: $m-yellow;
}
footer {
    background-color: $primary;
    color: white;
    padding: 1rem 0;
}
.white-box-container {
    position: absolute;
    height: calc(100vh - 56px);
    width: 100%;
}
.white-box {
    background-color: $primary;
    height: calc(100vh - 56px);
    width: 100%;
    clip-path: polygon(0% 25%, 100% 15%, 100% 85%, 0% 75%);
}
