@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

@import '~@fortawesome/fontawesome-free/css/brands.min.css';
@import '~@fortawesome/fontawesome-free/css/solid.min.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';

@import '../stylesheets/variables';
@import '../stylesheets/global';
@import '../stylesheets/shame';

mat-sidenav {
    width: 250px;
}
header {
    background-color: $primary;
    color: white;
    padding: 0.5rem 0;

    #hamburger-icon {
        font-size: 1.2rem;
    }
    .mat-button {
        font-size: 1rem;
    }
}
footer {
    background-color: $accent;
    color: white;
    padding: 1rem 0;
}