<div class="white-box-container container-fluid">
  <div class="row align-items-center h-100">
    <div class="col pl-0 pr-0">
      <div class="white-box" [@white-box]></div>
    </div>
  </div>
</div>
<div id="home-panel" class="container-fluid">
  <div class="row align-items-center h-100">
    <div class="col text-center">
      <div><span>Hi, I'm <strong>Kon-Kon Chao</strong>.</span></div>
      <div class="mt-4"><span class="subtext">A <span class="normal">Front End Developer</span> passionate about <span class="normal">phenomenal UI/UX</span>.</span></div>
    </div>
  </div>
</div>