#home-panel {
    height: calc(100vh - 56px);
    color: white;
    span {
        line-height: 1em;
        font-size: 3rem;
        font-weight: 300;
    }
    span.subtext {
        font-size: 2.6rem;
    }
    span.normal {
        font-size: 2.6rem;
        font-weight: 500;
    }
    .mat-flat-button {
        font-size: 1.5rem;
        padding: 0.5em 1em;
    }
    .button-container {
        margin-top: 1.5rem;
    }
    .white-border {
        width: 50%;
        height: 2px;
        background-color: white;
        margin: 2.5rem auto 0;
    }
}
@media (max-width: 575.98px) {
    #home-panel {
        span {
            font-size: 1.8rem;
        }
        span.subtext {
            font-size: 1.2rem;
            line-height: 1.25em;
        }
        span.normal {
            font-size: 1.2rem;
        }
        .white-border {
            margin: 1.5rem auto 0;
            width: 75%;
        }
        .mat-flat-button {
            font-size: 1rem;
        }
        .button-container {
            margin-top: 1rem;
        }
    }
}